/* Only UI fonts here, which are needed before the editor initializes. */
/* These cannot be dynamically prepended with `EXCALIDRAW_ASSET_PATH`. */
/* WARN: The following content is replaced during excalidraw-app build  */

@font-face {
  font-family: "FiraSans";
  src: url("FiraSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "FiraSans";
  font-weight: light;
  src: url("FiraSans-Light.otf") format("opentype");
}

@font-face {
  font-family: "FiraSans";
  font-weight: bold;
  src: url("FiraSans-Bold.otf") format("opentype");
}
