@import "../../css/variables.module";

.excalidraw {
  .collab-button {
    --button-bg: var(--color-primary);
    --button-color: white;
    --button-border: var(--color-primary);

    --button-width: var(--lg-button-size);
    --button-height: var(--lg-button-size);

    --button-hover-bg: var(--color-primary-darker);
    --button-hover-border: var(--color-primary-darker);

    --button-active-bg: var(--color-primary-darker);

    box-shadow: 0 0 0 1px var(--color-surface-lowest);

    flex-shrink: 0;

    // double .active to force specificity
    &.active.active {
      background-color: var(--color-primary);
      border-color: var(--color-primary);

      svg {
        color: #fff;
      }

      &:hover,
      &:active {
        background-color: var(--color-primary-darker);
        border-color: var(--color-primary-darker);
      }
    }
  }

  &.theme--dark {
    .collab-button {
      color: var(--white);
    }
  }

  .CollabButton.is-collaborating {
    background-color: var(--button-special-active-bg-color);

    .ToolIcon__icon svg,
    .ToolIcon__label {
      color: var(--color-primary);
    }
  }

  .CollabButton-collaborators {
    :root[dir="ltr"] & {
      right: -5px;
    }
    :root[dir="rtl"] & {
      left: -5px;
    }
    min-width: 1em;
    min-height: 1em;
    line-height: 1;
    position: absolute;
    bottom: -5px;
    padding: 3px;
    border-radius: 50%;
    background-color: var(--color-primary-darker);
    color: $oc-white;
    font-size: 0.6rem;
    font-family: "Cascadia";
  }
}
